* {
    margin: 0;
    padding: 0;
}

.scroll {
    width: 100vw;
    height: 1200vh; /* 150vh * length of array*/
    height: 1200dvh; /*mobile height*/
}


/* Prevent User From Scrolling on loading screen */
.active {
    position: fixed;
}

::-webkit-scrollbar { display: none }

.webgl {
    outline: none;
    position: fixed;
    top: 0;
    left: 0;
}
/*
.loading-bar {
    z-index: 99;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 10px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}
 */
 
 /* Loading Screen */
.loading-screen-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
}

.loading-screen-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 40px;
    outline: none;
    color: black;
    border-radius: 1.2rem;
    font-size: 42px;
}

.loading-screen-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.instructions {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #fff;
}

.hidden {
    display: none;
}